a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.nav-bar {
  list-style: none;
  display: flex;
  /* gap: 10px; */
  background: black;
  text-decoration: none;
  height: 50px;
}
li:first-child {
  border-left: none;
}
li:last-child {
  border-right: none;
}
li {
  color: white;
  display: grid;
  align-self: center;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}
.nav-bar li:hover {
  background: white;
  color: black;
}
.active {
  background: yellow;
  color: black;
}
