<div>
  <ul class="nav-bar">
    <li>
      <a routerLinkActive="['active']" routerLink="/list-of-students"
        >List of students</a
      >
    </li>
    <li>
      <a routerLink="/user-list">user-list</a>
    </li>
    <li>
      <a routerLink="/school-list">school-list</a>
    </li>

    <li>
      <a routerLink="/placed-students">placed-students</a>
    </li>

    <li>
      <a routerLink="/grocery-list">food-items</a>
    </li>

    <li>
      <a routerLink="/services">services</a>
    </li>

    <li>
      <a routerLink="/student-result">student result</a>
    </li>

    <li>
      <a routerLink="/fitness-club">fitness club</a>
    </li>

    <li>
      <a routerLink="/reactive-form">reactive form</a>
    </li>

    <li>
      <a routerLink="/template-form">template-form</a>
    </li>

    <li>
      <a routerLink="/directives">directives</a>
    </li>

    <li>
      <a routerLink="/angular-components">angular components</a>
    </li>
  </ul>
  <div class="routeContainer">
    <router-outlet> </router-outlet>
  </div>
</div>
